<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{% url 'lesson_list' %}">BELHARD ACADEMY SCHEDULE PLANNER</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        {% if user.is_authenticated %}
        <div class="nav-item text-nowrap">User: {{ user.get_username }}
            <a class="btn btn-outline-primary me-2" href="{% url 'logout' %}?next={% url 'login' %}" role="button">Sign out</a>
        </div>
        {% else %}
        <div class="nav-item text-nowrap">
            <a class="btn btn-outline-primary me-2" href="{% url 'login' %}?next={% url 'lesson_list' %}" role="button">Login</a>
        </div>
        {% endif %}
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'lesson_list' %}">
                            <span data-feather="home" class="align-text-bottom"></span>
                            Schedule
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course_list' %}">
                            <span data-feather="file" class="align-text-bottom"></span>
                            Courses
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'teacher_list' %}">
                            <span data-feather="shopping-cart" class="align-text-bottom"></span>
                            Teachers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'classrooms' %}">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Locations
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
