{% extends 'layout/basic.html' %}

{% block title %}List of evening lessons{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">List of lessons</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'lesson_morning_list' %}">Morning schedule</a></button>
            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'lesson_evening_list' %}">Evening schedule</a></button>
        </div>
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'lesson_form' %}">Create lesson</a></button>
        </div>
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'csv_lessons_list_write' %}">Export</a></button>
        </div>
    </div>
</div>
<div>
    <form action="{% url 'evening_filter' %}" method="get">
        <div class="row align-items-md-stretch">
            <div class="col-md-2">
            <h3 class="sear-head editContent">Course</h3>
                <ul class="w3layouts-box-list">
                    {% for course in view.get_evening_course %}
                    <li class="editContent">
                        <input type="checkbox" class="checked" name="course_name" value="{{ course.course_name }}">
                        <span class="span editContent">{{ course.course_name }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-2">
            <h3 class="sear-head editContent">Location</h3>
                <ul class="w3layouts-box-list">
                    {% for course in view.get_evening_location %}
                    <li class="editContent">
                        <input type="checkbox" class="checked" name="location" value="{{ course.location__location__street }}">
                            <span class="span editContent">{{ course.location__location__street }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-2">
            <h3 class="sear-head editContent">Teacher</h3>
                <ul class="w3layouts-box-list">
                    {% for teacher in view.get_teacher %}
                    <li class="editContent">
                        <input type="checkbox" class="checked" name="surname" value="{{ teacher.surname }}">
                        <span class="span editContent">{{ teacher.surname }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-2">
            <h3 class="sear-head editContent">Date range</h3>
                <ul class="w3layouts-box-list">
                    <li class="editContent">
                        <input type="search" placeholder="from XXXX-XX-XX" name="start">
                        <input type="search" placeholder="to XXXX-XX-XX" name="end">
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit"> Find </button>
        </div>
    </form>
</div>
{% if lesson_list %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Course (date, start time, location)</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Date</th>
                    <th scope="col">Start time</th>
                    <th scope="col">Comments to lesson</th>
                    <th scope="col">Actions to lesson</th>
                </tr>
            </thead>
            {% for lesson in lesson_list %}
            <tbody>
                <tr>
                    <td>{{ lesson.number }}</td>
                    <td>{{ lesson.course }}</td>
                    <td>{{ lesson.teacher }}</td>
                    <td>{{ lesson.topic }}</td>
                    <td>{{ lesson.date }}</td>
                    <td>{{ lesson.start_time }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'comment_form' %}">Add comment</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'comments_by_lesson' lesson.pk %}">View comments</a></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'lesson_detail' lesson.pk %}">View</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'lesson_edit' lesson.pk %}">Edit</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'lesson_confirm_delete' lesson.pk %}">Delete</a></button>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% else %}
    <p>Schedule doesn't exists.</p>
{% endif %}
{% endblock %}
