{% extends 'layout/basic.html' %}

{% block title %}{{ lesson.number }}. {{ lesson.topic }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1><strong>Lesson</strong> {{ lesson.number }}. {{ lesson.topic }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'lesson_form' %}">Create</a></button>
            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'lesson_edit' lesson.pk %}">Edit</a></button>
            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'lesson_confirm_delete' lesson.pk %}">Delete</a></button>
        </div>
    </div>
</div>
    <h4>{{ lesson.course }}</h4>
    <p><strong>Description:</strong> {{ lesson.description }}</p>
    <p><strong>Teacher:</strong> {{ lesson.teacher }}</p>
    <p><strong>Start date:</strong> {{ lesson.date }}</p>
    <p><strong>Start time:</strong> {{ lesson.start_time }}</p>
    <div><strong>Comments to the lesson:</strong>
        <p>{% for comment in lesson.comment.all %}{{ comment }}{% endfor %}</p>
    </div>
{% endblock %}
